h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    font-size: 7rem;
    color: red;
}
.dice{
    padding-left: 20%;
}
.lol{
    padding-right: 15%;
}
body{
   background-color: yellow;
}
h2{
     font-family: 'Montserrat', sans-serif;
     font-size: 5rem;
     color: blue;
}
button{
    height: 70px;
    width: 70px;
}